/* ----------------------------------------------------------------------------
    1
---------------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
    color: blue;
    font-family: sans-serif;
}

/* ----------------------------------------------------------------------------
    2
---------------------------------------------------------------------------- */
table, th, td {
    border: 1px solid black;
    text-align: center;
}

th {
    color: red;
    font-weight: bolder;
}

/* ----------------------------------------------------------------------------
    3
---------------------------------------------------------------------------- */
ul {
    list-style-type: square;
}


/* ----------------------------------------------------------------------------
    4
---------------------------------------------------------------------------- */
a:hover {
    text-decoration: none;
    color: red;
}


/* ----------------------------------------------------------------------------
    5
---------------------------------------------------------------------------- */
blockquote {
    background-color: gray;
    color: white;
}


/* ----------------------------------------------------------------------------
    6
---------------------------------------------------------------------------- */
/* #teamRoster li {
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
}
#teamRoster > :first-child {
    background-image: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
}
#teamRoster > :last-child {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
} */

#teamRoster img {
    opacity: 0;
}


/* ----------------------------------------------------------------------------
    7
---------------------------------------------------------------------------- */
#checkbox-grid {
    list-style: none;
}



/* ----------------------------------------------------------------------------
    Stretch 1
---------------------------------------------------------------------------- */
#teamRoster > li > ul > li > ol > :first-child {
    font-weight: bolder;
}


/* ----------------------------------------------------------------------------
    Stretch 2
---------------------------------------------------------------------------- */
tr td
{
    background-color: #fff;
}

tr:nth-child(even) td:nth-child(odd),
tr:nth-child(odd) td:nth-child(even)
{
    background-color: #ccc;
}


/* ----------------------------------------------------------------------------
    Stretch 3
---------------------------------------------------------------------------- */
#teamRoster > :first-child::before {
    content: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
    position: absolute;
    opacity: 0.1;
    z-index: -1;
}
#teamRoster > :last-child::before {
    content: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
    position: absolute;
    opacity: 0.1;
    z-index: -1;
}
